APP_NAME=NextTemplate

APP_DATABASE_HOST=bly9ndqdw2kcktucqrp0-mysql.services.clever-cloud.com
APP_DATABASE_USERNAME=uqew4qvkjzkiuzxp
APP_DATABASE_PASSWORD=FLnYSOMlPwN279g6bVOu
APP_DATABASE_NAME=bly9ndqdw2kcktucqrp0

NEXT_PUBLIC_API_BASE_URL=http://localhost:3000

#local

APP_NAME=NextTemplate

APP_DATABASE_HOST=localhost
APP_DATABASE_USERNAME=root
APP_DATABASE_PASSWORD=
APP_DATABASE_NAME=eclipse

NEXT_PUBLIC_API_BASE_URL=http://localhost:3000