APP_NAME=NextTemplate

APP_DATABASE_HOST=bgzizcuhaxytltzekm68-mysql.services.clever-cloud.com
APP_DATABASE_USERNAME=uuoisxwheiunpfdu
APP_DATABASE_PASSWORD=x1LKBrLKbuuoQyJ8be4F
APP_DATABASE_NAME=bgzizcuhaxytltzekm68

NEXT_PUBLIC_API_BASE_URL=http://localhost:3000