@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.pointer {
  @apply hover:cursor-pointer;
}

.center {
  @apply w-full flex justify-center;
}

.full-center {
  @apply flex items-center h-full w-full justify-center;
}

.container {
  @apply px-[16px] lg:px-0;
}

.secondary-button {
  @apply font-[700] tracking-[3px] px-[12px] py-[8px];
}
.secondary-button:hover {
  @apply bg-red-900 text-white rounded-lg transition-all duration-500;
}
.primary-header {
}
.primary-button {
  @apply rounded-md bg-gradient-to-r from-[#f45666] to-[#9352f4] p-2 px-[12px] shadow-md;
}
.primary-button:hover {
  @apply shadow-none;
}
.tertiary-button {
  @apply rounded-md bg-white p-2 shadow-md;
}
.tertiary-button:hover {
  @apply shadow-none;
}
